.lead{
    text-align: center;
    color: rgb(255, 0, 0);
    background: cornsilk;
    font-size: 300%;
}

.lead2{
    text-align: center;
    text-decoration: underline;
}


.btn-primary.agr{
    padding:10px;
    background:#0c863f;
    color:white;
    font:bold 10px/10px verdana;
    width:150px;
    text-align:center;
}

.btn-primary.modificar{
    padding:10px;
    background:#0ecf08;
    color:white;
    font:bold 10px/10px verdana;
    width:150px;
    text-align:center;
}

.btn-primary.list{
    padding:10px;
    background:#800f0f;
    color:white;
    font:bold 10px/10px verdana;
    width:150px;
    text-align:center;
}


.container{
    display: inline;
    width: 100%;
}

.total1{
    text-align: center;
    font-size: 120%;
    margin-top: 1%;
    background-color: #502121;
    color: antiquewhite;
    display: block;
    
}

.table-striped-2{
    background-color: #502121;
    color: antiquewhite;
}